body a, h1 {
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
}

body div p, h2, h4 {
  font-family: ariana-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
}

body div h3 {
  font-family: unibody-8-new,sans-serif;
  font-weight: 400;
  font-style: normal;
}

body div button {
  font-family: acier-bat-solid,sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  font-family: acier-bat-gris, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.navigation {
  font-family: acier-bat-gris, sans-serif;
  font-style: normal;
  font-weight: 400;
}
span {
  border-bottom: 1px solid #69C1ED;
  padding: .15em 0;
}

h1 {
  font-size: 2em;
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5em;
  }
}

.about-container {
  margin: 2em;
}

@media (min-width: 768px) {
  .about-container {
    margin: 4em;
  }
}

@media (min-width: 992px) {
  .about-container {
    margin: 5em;
  }
}

.about-1 {
  margin-bottom: 3em;
}

.about-1 p {
  font-size: 1.3em;
  margin: 2em 0;
}

.about-1 .oldwell-light {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-1 .oldwell-light .image-container {
  width: 60%;
}

.about-1 .oldwell-light img {
  width: 100%;
}

.about-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(../../assets/circle.svg);
  background-repeat: no-repeat;
}

@media (min-width: 992px) {
  .about-2 {
    background-position: center;
  }
}

.pillar-grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.whoWeAre-1 {
  text-align: center;
}

.whoWeAre-1 h2 {
  font-size: 2.5em;
}

@media (min-width: 1200px) {
  .whoWeAre-1 {
    display: none;
  }
}

.whoWeAre-2 {
  display: none;
  padding: 1rem;
  margin: 1.5rem;
  text-align: center;
}

.whoWeAre-2 h2 {
  font-size: 3.3em;
}

@media (min-width: 1200px) {
  .whoWeAre-2 {
    display: block;
  }
}

.pillar {
  background-color: #ffffff;
  padding: 2rem;
  margin: 1.5rem;
  -webkit-box-shadow: 1px 1px 20px 5px #ebebeb;
          box-shadow: 1px 1px 20px 5px #ebebeb;
  border-radius: 15px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.pillar:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.members {
  margin: 2em;
  margin-bottom: 4rem;
}

.members h1 {
  margin: 2rem 0;
}

.members .members-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.members .member-card {
  padding: 1.2em;
  -webkit-box-shadow: 1px 1px 20px 5px #ebebeb;
          box-shadow: 1px 1px 20px 5px #ebebeb;
  border-radius: 15px;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.members .member-card h5 {
  font-family: ariana-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.members .member-card h6 {
  font-family: ariana-pro, sans-serif;
  font-weight: 100;
  font-style: normal;
}

.members .member-card:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.members .member-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  width: 200px;
  height: 200px;
  line-height: 50px;
  font-size: 12px;
  font-weight: lighter !important;
  color: #fff !important;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  top: -3px;
}

.members .member-image img {
  display: inline-block;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
  min-width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
}

strong {
  font-weight: 800;
}

.rush {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url("../../assets/rush-bg-01.svg");
  background-size: cover;
  heighT: 80vh;
  margin-top: 3rem;
  padding: 2em;
}

.rush h1 {
  margin-bottom: 1em;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  background-image: url("../../assets/contact-bg-01.svg");
  background-size: cover;
  heighT: 80vh;
  margin-top: 3rem;
  padding: 2em;
}

.contact h1 {
  margin-bottom: 1em;
}

h5 {
  font-family: ariana-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
}

.contact-info {
  display: inline;
  margin: .8em;
}

.contact-info {
  outline: none;
}

.email {
  text-decoration: underline;
}

.fb-group-link {
  color: #69C1ED;
  font-weight: 800;
  font-family: ariana-pro,sans-serif;
  font-style: normal;
}

.fb-group-link:hover {
  color: #B5E5F7;
}

.rush-sub {
  color: #69C1ED;
  font-weight: 400;
  font-family: ariana-pro,sans-serif;
  font-style: normal;
  font-size: 1.5em;
}
/*# sourceMappingURL=app.css.map */