$colors : (
    gray: #20272E,
    black: black,
    blue1:#69C1ED,
    blue2: #AED8F3,
    white: white

);


@function color($color-name) {
    @return map-get($colors, $color-name);
}

$tablet: 768px;
$desktop: 1050px;
$xlarge: 1500px;

@mixin tablet {
    @media (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

@mixin xlarge {
    @media (min-width: #{$xlarge}) {
        @content;
    }
}





div .jumbotron {
    background-color: transparent;
    margin: .5em 3em .5em 3em;
    padding:1em;
    
       
    
    @include tablet {
        margin: 2em;
    }

    @include tablet {
        margin: 3em;
    }
    
}

.laptop {
    
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 60%;
        margin: 1em;
        @include tablet {
            width: 80%;

        }
        min-width: 180px;
    }
}

.title {
    color: color(gray);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    

    @include tablet{
        
        
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        margin: 1em 0;
        padding-left: 2em;
    }
    

    h1 {
        color: color(gray);
        font-size: 2.3em;
        


        @include tablet{
            font-size: 4em;
            margin: 0;

        }
        @include desktop{
            font-size: 5em;
            margin: 0;

        }
        
    }

    h2 {

        font-size: 1.1em;
        margin: 10px 0;

        @include tablet{
            font-size: 1.4em;
            
        }
        @include desktop{
            font-size: 1.7em;
            

        }
        
    }

    h3 {

        font-size: .8em;
        margin:  10px 0;
        @include tablet{
            font-size: 1em;
        }
        @include desktop{
            font-size: 1.2em;
        

        }
        
    }

   
}

.btn-primary {
    background-color: color(blue1);
    border: 0;
    margin: 1em 0;
    padding: .6em 2em;
    border-radius: 25px;
    

}

.btn-primary:hover {
    background-color: color(blue2);
    
}

.btn-primary:active {
    outline: none !important;
    box-shadow: none;
    background-color: color(blue2);
    
}

.btn-primary:focus {
    outline: none !important;
    box-shadow: none;
    background-color: color(blue2);
    
}

.btn-first {
    display: none;

    @include tablet {
        display: block;
    }
}

.btn-second {
    display: block;
    margin: 1em;

    @include tablet {
        display: none;
    }
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: center;
}
