

$colors : (
    gray: #20272E,
    black: black,
    blue1:#4395CB,
    blue2: #AED8F3,
    white: white

);

html {
     font-family: acier-bat-gris, sans-serif;
    font-style: normal;
    font-weight: 400;
}

.navigation {
    font-family: acier-bat-gris, sans-serif;
    font-style: normal;
    font-weight: 400;

}

